---
/* eslint-disable-next-line import/no-unresolved */
import { getCollection, getEntry } from "astro:content";
import type { InferGetStaticPropsType } from "astro";
import Layout from "@/layout/index.astro";
import BlockHeader from "@/components/block-header.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("author");

  return allPosts
    .map(({ id }, index, arr) => {
      const left = index !== 0 ? arr[index - 1] : null;
      const right = index !== arr.length - 1 ? arr[index + 1] : null;

      return {
        params: {
          id,
        },
        props: {
          id,
          left,
          right,
        },
      };
    });
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { id } = Astro.props;
const entry = await getEntry("author", id);
const { name, description } = await entry.data;
---

<Layout
  title={name}
>
  <BlockHeader title={name}>
    <p slot="bottom">{description}</p>
  </BlockHeader>
</Layout>
