---
import type { CollectionEntry } from "astro:content";
import { flex, linkOverlay } from "styled-system/patterns";
import { dateString } from "@/utils";
import Link from "./link.astro";

interface Props {
  post: CollectionEntry<"post">;
}
const { post } = Astro.props;
---

<div
  class={flex({
    direction: "column",
    gap: "sm",
    position: "relative",
    px: "block",
    py: "md",
    rounded: "md",
    borderWidth: "1px",
    borderColor: { base: "amber.950/20", _dark: "amber.100/20" },
    bg: {
      base: "bg.canvas",
      _hover: "primary.alpha",
    },
  })}
>
  <Link
    class={linkOverlay({ fontWeight: "bold", fontSize: "xl" })}
    href={`/post/${post.slug}`}>{post.data.title}</Link
  >
  <span slot="headerText">{dateString(post.data.date)}</span>
</div>
