---
import { Icon } from "astro-icon/components";
import { css } from "styled-system/css";
---

<button
  class:list={[
    css({
      p: "md",
      bg: "amber.950",
      color: "amber.50",
      rounded: "full",
      shadow: "md",
    }),
    "drawer-handler",
  ]}
  aria-label="Open drawer"
>
  <Icon class={css({ fontSize: "2xl" })} name="mdi:menu" />
</button>
