---
import { Icon } from "astro-icon/components";
import { css } from "styled-system/css";
---

<button
  class:list={[
    css({
      p: "md",
      bg: { base: "amber.900", _dark: "amber.100" },
      color: { base: "amber.50", _dark: "amber.950" },
      rounded: "full",
      shadow: "md",
    }),
    "drawer-handler",
  ]}
  aria-label="Open drawer"
>
  <Icon class={css({ fontSize: "2xl" })} name="mdi:menu" />
</button>
