---
import { css } from "styled-system/css";
import { vstack, container } from "styled-system/patterns";
import { siteMetadata } from "@/data";
---

<footer
  class={css({
    gap: "md",
    bg: "bg.canvas",
    width: "full",
    p: "block",
  })}
>
  <div
    class:list={[
      container({ maxWidth: "container", p: 0 }),
      vstack({ gap: "md" }),
    ]}
  >
    <p class={css({ fontWeight: "bold" })}>{siteMetadata.title}</p>
    <small>© 2024 cieloazul310 All rights reserved.</small>
  </div>
</footer>
