---
import { css } from "styled-system/css";
import { flex, container, spacer } from "styled-system/patterns";
import Link from "@/components/link.astro";
import ColorModeHandler from "@/components/color-mode-handler.astro";
import { siteMetadata } from "@/data";
---

<header
  class={css({
    width: "full",
    position: "sticky",
    top: 0,
    zIndex: "header",
    bg: "bg.canvas",
    shadow: "sm",
  })}
>
  <div
    class={container({
      width: "full",
      height: "header",
      maxWidth: "container",
      display: "flex",
      gap: "sm",
      alignItems: "center",
      p: 0,
    })}
  >
    <div class={flex({ width: "full", p: "block" })}>
      <h1 class={css({ textStyle: "headings", fontSize: "xl" })}>
        <Link href="/">
          {siteMetadata.title}
        </Link>
      </h1>
      <div class={spacer()}></div>
      <ColorModeHandler />
    </div>
  </div>
</header>
